^https:\/\/common-sc\.miguvideo\.com\/videoActivity\/activityList\/ url reject-dict
^https:\/\/app-sc\.miguvideo\.com\/app-management\/v1\/staticcache\/settings\/miguvideo\/SHARE_PIC url reject-dict
^https:\/\/recommend-dy\.miguvideo\.com\/recommend-dynamic\/dataSource\/v1\/recommend\/merge url reject-dict
^https:\/\/ggx09\.miguvideo\.com\/request\/sdk10\? url reject-dict


hostname = common-sc.miguvideo.com, app-sc.miguvideo.com, ggx09.miguvideo.com, recommend-dy.miguvideo.com